:root {
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #e5e5e5;
    --cinza-escuro: #444;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--branco);
}

/* ===== LAYOUT ===== */

main.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* ===== FORM ESQUERDA ===== */

#login {
    width: 420px;
    min-width: 420px;
    height: 100vh;

    background-color: rgb(172, 172, 172);

    border-right: 1px solid var(--cinza);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px;
}

/* título */

#login h1 {
    text-align: center;
    color: black;
    margin-bottom: 30px;
    font-size: 32px;
}

/* grupo */

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--cinza);
    padding-left: 10px;
    font-size: 15px;
}

/* botão */

.form-button {
    margin-top: 20px;
    text-align: center;
}

#btn-entrar {

    width: 100%;
    height: 45px;

    background-color: black;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

#btn-entrar:hover {
    background-color: var(--cinza-escuro);
}

/* ===== FUNDO DIREITO ===== */

.bg {

    flex: 1;
    height: 100vh;

    background-image: url("../Imagens/fundo.jfif");
    background-repeat: repeat-y;
    background-size: cover;

    /* animation: scrollFundo 30s linear infinite; */

}

/* animação infinita */

@keyframes scrollFundo {

    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 1000px;
    }

}

/* ===== RESPONSIVO ===== */

@media (max-width: 900px) {

    #login {
        width: 420px;
        min-width: 420px;
    }

}

@media (max-width: 600px) {

    main.container {
        flex-direction: column;
    }

    #login {
        width: 100%;
        min-width: 100%;
        height: auto;
    }

    .container::after {
        height: 250px;
    }

}