body {
    background: #0d0d0d;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
}

.tierlist-container {
    max-width: 1200px;
    margin: 40px auto;
}

.tier {
    display: flex;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.tier-title {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tier-drop {
    flex: 1;
    min-height: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #1a1a1a;
}

.itens-pool {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    padding: 15px;
    background: #111;
    border-radius: 8px;
}

.item {
    width: 80px;
    height: 80px;
    cursor: grab;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    pointer-events: none;

}

h1 {
    margin-bottom: 10px;
}

p {
    opacity: 0.8;
}

.tier-title {
    outline: none;
    cursor: text;
}

.tier-title:focus {
    box-shadow: inset 0 0 0 2px #fff;
}