:root {
    --roxo1: #4b0b51c7;
    --roxo2: #6a1d72;
    --roxoEscuro: #2e002e;
    --roxo-hover: #270b2b;
    --texto: orange;
    --texto-secundario: #ffcc00;
    --laranja-hover: #da8d00;
    --preto: #000000;
    --borda-preta: #000000;
    --borda-cinza: #aaa;
    --cinza-escuro: #242525;
    --cinza-medio: #4D524E;
    --cinza-claro: #cccccc;
    --branco: #ffffff;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


/* ===========================
   Conteúdo principal
=========================== */

.conteudo {
    max-width: 600px;
    margin: 40px auto;
    margin-top: 80px;
    padding: 0 20px;
}

/* ===========================
   Box do Quiz
=========================== */

.quiz {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
}

.quiz_img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 6px;
}

/* Título + Descrição */
.quiz h1 {
    margin-top: 20px;
    font-size: 28px;
}

.quiz p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    text-shadow: none;
}

/* ===========================
   Perguntas e Respostas
=========================== */

#quiz-container {
    margin-top: 30px;
}

#quiz-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: white;
    text-shadow: 0px 0px 10px var(--borda-preta);
}

/* GRID: 2 por linha */
#quiz-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#quiz-container h2 {
    grid-column: span 2;
}

#quiz-container button {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 16px;
    margin: 6px 0;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #000;
    background: transparent;
    cursor: pointer;
    color: #fff;
}

#quiz-container button::before {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: fit-content;

}

/* ======== Símbolos coloridos ======== */

/* 🔵 Azul – Círculo */
.ps-blue::before {
    content: "○";
    font-size: 42px;
    color: blue;
}

/* 💗 Rosa – Quadrado */
.ps-pink::before {
    content: "□";
    font-size: 37px;
    color: hotpink;
}

/* 🟥 Vermelho – X */
.ps-red::before {
    content: "✕";
    font-size: 22px;
    color: red;
}

/* 🟩 Verde – Triângulo */
.ps-green::before {
    content: "△";
    font-size: 32px;
    color: limegreen;
}

/* Hover com leve aumento */
#quiz-container button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}